@{
    Layout = "_LayoutRecuperarContrasena";
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/registro/registro.js"></script>
}
<section class="hero">
    <h1>Recuperación de contraseñas.</h1>
    <p>Con FitApp, alcanza tus metas más rápido.</p>
</section>

<div class="col-sm-12 mb-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Recuperación de contraseñas.</h3>
            <p class="card-text Admin-text"><small>Si algun usuario necesita cambiar contraseñas, aqui aparecen las solicitudes.</small></p>
            <hr />
        </div>
    </div>

    <div class="container">
        <div id="myGrid" style="height: 20px; width: 1225px;" class="ag-theme-alpine justify-content-center"></div>

        <form action="ListUsers">
            <div class="mb-3 text-left">
                <label for="txtIdentificacion">Identificación</label>
                <input id="txtIdentificacion" type="text" class="form-control " />
            </div>

            <div class="mb-3 text-left">
                <label for="txtCorreo">Correo Electrónico</label>
                <input id="txtCorreo" type="text" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="registerPassword" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="registerPassword" required>
            </div>

            <div class="mb-3">
                <button type="button" class="btn btn-success" id="btnActRol">Enviar Contraseña</button>
            </div>
        </form>
    </div>
