@{
    Layout = "_LayoutAdminPrincipal";
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/registro/registro.js"></script>
}
<section class="hero">
    <h1>Bienvenido al Panel de Administrador</h1>
    <p>Con FitApp, alcanza tus metas más rápido.</p>
</section>

<div class="col-sm-12 mb-12">
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("AdminRecuperacionContrasenna", "Home")" style="color: #2C3E50; text-decoration: none;">
                <h3 class="card-title">Recuperación de contraseñas.</h3>
            </a>
            <p class="card-text"><small>Si algun usuario necesita cambiar contraseñas, aqui aparecen las solicitudes</small></p>
            <hr />

            <a href="@Url.Action("AdminActualizacionUsuario", "Home")" style="color: #2C3E50; text-decoration: none;">
                <h3 class="card-title">Gestion de usuarios.</h3>
            </a>
            <p class="card-text"><small>Aqui se puede crear, visualizar, modificar, eliminar usuarios y roles(admin, recepcionista, entrenador, cliente).</small></p>
            <hr />
            <!--lo siguiente no se va mostrar al profesor por que no hay nada creado o conectado-->

            <!--
            <h3 class="card-title">Gestión de Tarifas.</h3>
            <p class="card-text"><small>Aqui se puede crear, visualizar, modificar, eliminar las tarifas</small></p>
            <hr />

            <h3 class="card-title">Reportes</h3>
            <p class="card-text"><small>Aqui puedes bajar reportes como la lista de usuarios, ventas, asistencia y horarios</small></p>
            <hr />

            <h3 class="card-title">Soporte técnico</h3>
            <p class="card-text"><small>Si necesitas asistencia,ayuda o tienes preguntas solo envianos tus preguntas y te solucionamos lo mas pronto posible</small></p>
             -->
        </div>
    </div>
</div>