@{
    Layout = "_LayoutClienteDia";
}

<div class="row disenoFacturastop">
    <div class="col-4">
        <div class="card-body diseno-factura1">
            <h3 class="card-title"> Factura </h3>
            <hr />
            <ul class="li_Cliente">
                <li id="datoPrecio">Precio Plan: </li>
                <li id="datoDescuento">Descuento: </li>
                <hr />
                <li id="datoTotalPagar">Total a Pagar: </li>
            </ul>
            <br />
            <div id="paypal-button-container"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-body diseno-factura2">
            <h3 class="card-title"> Factura </h3>
            <hr />
            <ul class="li_Cliente">
                <li id="datoPrecio">Precio Plan: </li>
                <li id="datoDescuento">Descuento: </li>
                <hr />
                <li id="datoTotalPagar">Total a Pagar: </li>
            </ul>
            <br />
            <div id="paypal-button-container"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-body diseno-factura3">
            <h3 class="card-title"> Factura </h3>
            <hr />
            <ul class="li_Cliente">
                <li id="datoPrecio">Precio Plan: </li>
                <li id="datoDescuento">Descuento: </li>
                <hr />
                <li id="datoTotalPagar">Total a Pagar: </li>
            </ul>
            <br />
            <div id="paypal-button-container"></div>
        </div>
    </div>
</div>

<br />
<br />
<div class="row">
    <div class="col-4">
        <div class="card-body diseno-factura4">
            <h3 class="card-title"> Factura </h3>
            <hr />
            <ul class="li_Cliente">
                <li id="datoPrecio">Precio Plan: </li>
                <li id="datoDescuento">Descuento: </li>
                <hr />
                <li id="datoTotalPagar">Total a Pagar: </li>
            </ul>
            <br />
            <div id="paypal-button-container"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-body diseno-factura5">
            <h3 class="card-title"> Factura </h3>
            <hr />
            <ul class="li_Cliente">
                <li id="datoPrecio">Precio Plan: </li>
                <li id="datoDescuento">Descuento: </li>
                <hr />
                <li id="datoTotalPagar">Total a Pagar: </li>
            </ul>
            <br />
            <div id="paypal-button-container"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-body diseno-factura6">
            <h3 class="card-title"> Factura </h3>
            <hr />
            <ul class="li_Cliente">
                <li id="datoPrecio">Precio Plan: </li>
                <li id="datoDescuento">Descuento: </li>
                <hr />
                <li id="datoTotalPagar">Total a Pagar: </li>
            </ul>
            <br />
            <div id="paypal-button-container"></div>
        </div>
    </div>
</div>
