body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
    color: #333;
}

header {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header .logo {
        font-family: 'Playfair Display', serif;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
    }

    header nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

        header nav ul li {
            display: inline;
        }

            header nav ul li a {
                color: #FFFFFF;
                text-decoration: none;
                font-weight: 700;
            }

.hero {
    text-align: center;
    padding: 6rem 2rem 1rem 2rem;
    color: #2C3E50;
}

    .hero h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.5rem;
    }

.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #E74C3C;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: 700;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #ECF0F1;
}

.service {
    text-align: center;
    max-width: 200px;
}

.card-title {
    text-align: center;
}

.bg-custom, .tarifa-card {
    background-color: #34495E;
}

.cta-button:hover {
    background-color: #2471A3;
}

.dropdown-menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta {
    text-align: center;
    padding: 2rem;
    background-color: #E74C3C;
    color: #FFFFFF;
    bottom: 0;
}

.btn-cliente {
    color: #FFFFFF;
}

    .btn-cliente:hover {
        background-color: #E74C3C;
    }

.title_clase {
    text-align: center;
}

/*  Entrenador  */
.cedula-buscar {
    margin: 0 180px 0 180px;
}

.cedula-dato {
    margin-right: 280px;
}

/*  OTP  */
.OTP-Container {
    padding: 265px 0px 265px 0px;
}

/* Contraseña Landing */

.contenedor-contrasena {
    padding: 40px;
    margin: 0 80px 215px 50px;
}