body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
    color: #333;
}

header {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}

.hero {
    text-align: center;
    padding: 6rem 2rem 1rem 2rem;
    color: #2C3E50;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
 }

.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #E74C3C;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: 700;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #ECF0F1;
}

.service {
    text-align: center;
    max-width: 200px;
}

.card-title {
    text-align: center;
}

.bg-custom, .tarifa-card {
    background-color: #34495E;

}

.cta-button:hover {
    background-color: #2471A3;
}

.dropdown-menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta {
    text-align: center;
    padding: 2rem;
    background-color: #E74C3C;
    color: #FFFFFF;
    margin: 0px;
}

.btn-cliente {
    color: #FFFFFF;
}
.btn-cliente:hover {
    background-color: #E74C3C;
}

.title_clase {
    text-align: center;
}

/*.main-container {
    width: 100% ;
}*/
/*  Entrenador  */
.cedula-buscar {
    margin: 0 180px 0 180px;
}

.cedula-dato {
    margin-right: 280px;
}

/*  OTP  */
.OTP-Container {
    padding: 265px 0px 265px 0px;
}

/* Contraseña Landing */
.contenedor-contrasena {
    padding: 40px;
    margin: 0 80px 215px 50px;
}
/* Pagos*/
.card-pagos {
    height: 250px;
    border: 2px ridge #E74C3C;
}

/* Tarjetas de Administrador */

.card {
    /*height: 190px;*/
    border: 2px ridge #E74C3C;
}

.card-admin {
    height: 190px;
}

.card p {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.card i {
    font-size: 35px;
}

.ultima-tarjeta-admin {
    padding-bottom: 140px;
}

.ajuste-footer {
    padding-bottom: 200px;
}

.ajuste-footer-2 {
    padding-bottom: 230px;
}

.ajuste-footer-3 {
    padding-bottom: 260px;
}

.ajuste-footer-4 {
    padding-bottom: 240px;
}

.ajuste-footer-5 {
    padding-bottom: 240px;
}

.ajuste-footer-6 {
    padding-bottom: 260px;
}
/* Estilos para la tabla generada por Grid.js */
.gridjs-table {
    width: 100%;
    border-collapse: collapse;
}

.gridjs-th, .gridjs-td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.gridjs-th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.gridjs-tr:nth-child(even) {
    background-color: #f9f9f9;
}

.gridjs-tr:hover {
    background-color: #ddd;
}

.gridjs-search {
    margin-bottom: 10px;
}

.gridjs-pagination {
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

/* tabla maquinas */
.tabla-maquinas {
    margin-top: 80px;
    margin-left: 350px;
}

/* facturas */
.contendor-facturas {
    margin-bottom: 150px;
}

/*.diseno-factura {
    border: 3px;
    border-style: double;
    border-color: #E74C3C;*/

    /*background-color: #2C3E50;
    color: #FFFFFF;*/
/*}*/

.tabla-facturas {
    margin-top: 90px;
    margin-left: 200px;
}
/* Registro máquinas */
.maquinas-container {
    margin-top: 60px;
    padding: 0 250px 0 250px;
}

/*  CSS DAX  */

.header-image {
    width: 100%;
    padding-top: 70px ;
    max-height: 250px;
    object-fit: cover;
    margin-top: 0px; /* Ajusta el margen superior según sea necesario */
    display: block;
}

.side-image {
    position: fixed;
    top: 250px;
    left: 0;
    height: auto;
    width: auto;
    max-width: 300px;
    z-index: 1;
}

.bg-custom, .tarifa-card {
     background-color: #34495E;
}

.cta-button:hover {
     background-color: #2471A3;
}

.small-carousel .carousel-inner {
    max-height: 300px; /* Ajusta la altura máxima del carrusel /
}.small-carousel .carousel-item img {
 height: 300px; / Ajusta la altura de las imágenes del carrusel /
 object-fit: cover; / Asegura que las imágenes se ajusten correctamente */
 }


/****************************************************************************************/

/* Clientes */
.row-clases-rutinas {
    padding-bottom: 200px;
}

.row-clases-rutinas-undia {
    padding-bottom: 410px;
}

.section-cliente {
    text-align: center;
    font-size: 15px;
}

.class-schedule, .routines {
    list-style: none;
    padding: 0;
}

.class-schedule li, .routines li {
    background: #e4e4e4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.hero-cliente {
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    color: #2C3E50;
}

.card-cliente {
    margin-bottom: 150px ;
}

.info-cliente {
    margin-bottom: 370px;
}

.header-image-clientes {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    position: static;
    height: auto; /* Ajusta el margen superior según sea necesario */
    display: block;
}

.side-image-clientes {
    position: absolute;
    top: 70px;
    left: 0;
    height: auto;
    width: auto;
    max-width: 300px;
    z-index: 1;
}

/* CUPONES */

.cupones {
    margin-bottom: 90px;
}

.cupon-derecho {
    padding-left: 150px;
}

/* Administrador */
.admin-panel {
    margin-bottom: 120px;
}
.tabla-abajo-clases-grupales {
    padding-top: 160px;
    padding-bottom: 100px;
}
/* Recepción */
.ultima-tarjeta-recepcion {
    padding-bottom: 460px;
}

/* Planes Mensuales */

.plan-mensual {
    margin-bottom: 330px;
}


/* footers clientes */

/*.ajuste-footer-clientedia1 {
    padding-bottom: 0px;
}*/

.ajuste-footer-clienteStandard {
    padding-bottom: 100px;
}

.ajuste-footer-clientePremium {
    padding-bottom: 110px;
}


/* footers Entrenador */

.footer-panel-entrenador {
    padding-top: 80px;
    padding-bottom: 600px;
}

.footer-rutinas {
    padding-bottom: 700px;
}

.footer-maquinas {
    padding-bottom: 180px;
}

.footer-entrenador {
    padding-bottom: 90px;
}

/* footers OTP */

.footer-recuperar-otp {
    padding-bottom: 240px;
}

.footer-psw-otp {
    padding-bottom: 240px;
}

.footer-otp {
    padding-bottom: 240px;
}

/* footers Recepcionista */

.footer-datos-recepcionista {
    padding-bottom: 190px;
}

.recepcionista-cupones {
    padding-bottom: 250px;
}

.footer-recepcion-clases {
    padding-bottom: 190px;
}

.recepcion-manager {
    padding-bottom: 260px;
}

.footer-registrar {
    padding-bottom: 300px;
}

.footer-registrar-facturas {
    padding-bottom: 240px;
}

/* disenos facturas */

.disenoFacturastop {
    padding-top: 120px;
}
