@{
    Layout = "_LayoutRecepcionManagerAdmin";
}
@section Scripts {
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/citasmedicion/citasmedicion.js"></script>
    <script src="~/js/asignacion/asignacion.js"></script>
}
<main class="container my-5" style="padding:50px 20px;">
    <!-- New Section -->
    <div class="page position-absolute" style="top: -4884px; left: 6796px; width: 1925px; height: 1080px; background: #FFFFFF;">
        <!-- Your content here -->
    </div>

    <!-- Tabla de Citas para Medición -->
    <div class="my-5">
        <h2 class="text-center">Citas para Medición</h2>
        <div class="table-responsive">
            <div id="myGrid" class="ag-theme-alpine justify-content-center"></div>
            <div><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMeasurementModal">Agendar Medición</button></div>
        </div>
        
    </div>

    <!-- Modal para Agendar Medición -->
    <div class="modal fade" id="addMeasurementModal" tabindex="-1" aria-labelledby="addMeasurementModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMeasurementModalLabel">Agendar Nuevo Plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addMeasurementForm">
                        <div class="mb-3">
                            <label for="horaMedicion" class="form-label">Hora de la Medición</label>
                            <input type="datetime-local" class="form-control" id="horaMedicion" name="horaMedicion" required>
                        </div>

                        <div class="mt-3 mb-3">
                            <label for="idusuario" class="container">Usuarios a asignar:</label>
                            <select id="idusuario" class="form-control">
                                <option value="" disabled selected>Seleccione un usuario</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-primary" id="citaMedicion">Agendar medición</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla de Clases -->
    <div class="my-5">
        <h2 class="text-center">Asignar cita para medición a un entrenador</h2>
        <div class="table-responsive">
            <div id="myGrid2" class="ag-theme-alpine justify-content-center"></div>
            <div><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMeasurementModal2">Asignar cita de medición</button></div>
        </div>
    </div>
    <!-- Modal para Agregar Clase -->
    <div class="modal fade" id="addMeasurementModal2" tabindex="-1" aria-labelledby="addClassModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClassModalLabel">Agregar Nueva Clase</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addClassForm">
                        <div>
                            <label for="idEntrenador" class="container">Entrenador a asignar:</label>
                            <select id="idEntrenador" class="form-control">
                                <option value="" disabled selected>Seleccione un entrenador</option>
                            </select>
                        </div>

                        <div class="mt-3 mb-3">
                            <label for="idcita" class="container">Indique el numero de la cita:</label>
                            <select id="idcita" class="form-control">
                                <option value="" disabled selected>Seleccione un identificador de la cita</option>
                            </select>
                        </div>

                        <button type="button" id="AsigCita" class="btn btn-primary">Asignar Cita</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>