@{
    Layout = "_LayoutMaquinasAdministrador";
}
@section Scripts {
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/maquinas/listamaquinas.js"></script>
}
<!-- Main Section -->
<main class="container my-5" style="padding:50px 20px;">
    <div class="container mt-5">
        <h1 class="text-center">Registro de Máquinas</h1>
        <form id="registroForm" class="maquinas-container">
            <div class="mb-3">
                <label for="nombreMaquina" class="form-label">Nombre de la máquina</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <button type="button" class="btn btn-primary"id="registromaquina">Registrar Máquina</button>
        </form>
    </div>
    <div class="container tabla-usuarios">
        <div id="myGrid" style="height: 430px; width: 800px;" class="ag-theme-alpine justify-content-center"></div>
    </div>
</main>