@{
    Layout = "_LayoutClienteDia";
}
@section Scripts {
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=ASBgIKFeOaTJY7GhamUfRHcMfu4Gzhz5FhefkcZdSp9Ja8wR50v2zwjADNL3qaTEce2caM6WMODTG2eP"></script>
    <script src="~/js/AdminList/GridDefinition.js"></script>
    <script src="~/js/AdminList/ListaUsuarios.js"></script>
    <script src="~/js/planesmensuales/vistafacturas.js"></script>
    <script src="~/js/logout.js"></script>
}
<!-- Main Section -->
<div>
    <img src="https://res.cloudinary.com/testcenfotecdsd/image/upload/t_sdasdasdasdasdasdasdsa/v1722396774/imagen_2024-07-30_213252929_h91nk3.png" alt="Imagen del gimnasio" class="header-image-clientes">
</div>
<section class="hero">
    <h1>Información Personal</h1>
</section>
<!-- Imagen Lateral -->
<img src="https://res.cloudinary.com/testcenfotecdsd/image/upload/v1722367620/imagen_2024-07-30_132657783_jzlges.png" alt="Imagen Lateral" class="side-image-clientes">
<main class="container">
    <div class="ajuste-footer-clientedia1">
        <div class="row info-cliente">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> Datos Personales </h3>
                        <hr />
                        <ul class="li_Cliente">
                            <li id="datoNombre">Nombre: </li>
                            <li id="datoCorreo">Correo contacto: </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> Factura </h3>
                        <hr />
                        <ul class="li_Cliente">
                            <li id="datoPrecio">Precio Plan: </li>
                            <li id="datoDescuento">Descuento: </li>
                            <hr />
                            <li id="datoTotalPagar">Total a Pagar: </li>
                        </ul>
                        <br />
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>