@{
    Layout = "_LayoutClientePremium";
}
@section Scripts {
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/AdminList/GridDefinition.js"></script>
    <script src="~/js/ClasesGrupales/clasesGrupales.js"></script>
    <script src="~/js/clientes/citasmedicionescliente.js"></script>


}
<!-- Main Section -->
<div>
    <img src="https://res.cloudinary.com/testcenfotecdsd/image/upload/t_sdasdasdasdasdasdasdsa/v1722396774/imagen_2024-07-30_213252929_h91nk3.png" alt="Imagen del gimnasio" class="header-image-clientes">
</div>
<section class="hero-cliente">
    <h1>Bienvenido </h1>
</section>
<!-- Imagen Lateral -->
<img src="https://res.cloudinary.com/testcenfotecdsd/image/upload/v1722367620/imagen_2024-07-30_132657783_jzlges.png" alt="Imagen Lateral" class="side-image-clientes">
<main class="container my-2" style="padding:30px 20px;">

    <!-- Tabla de Citas para Medición -->
    <div class="my-5">
        <h2 class="text-center">Citas para Medición</h2>
        <div class="table-responsive">
            <div id="GridCitasMediciones" class="ag-theme-alpine justify-content-center"></div>
        </div>

    </div>
    <!-- Tabla de Clases -->
    <div class="my-5">
        <h2 class="text-center">Clases Grupales</h2>
        <div class="table-responsive">
            <div id="myGrid" class="ag-theme-alpine justify-content-center"></div>
        </div>

    </div>

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"> Rutinas </h3>
                    <hr />
                    <div class="row">
                        <ul class="routines">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>