@{
    Layout = "_LayoutPagos";
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    }

<!-- Main Section -->
<section class="hero">
    <h1>Métodos de pago</h1>
</section>

<main class="container my-2">
    <div class="row" style="padding:0 30px 450px 30px;">
        <div class="col-6">
            <div class="card" onclick="selectPaymentMethod('Paypal', this)">
                <div class="card-body">
                    <h3 class="card-title"> Paypal <i class="fa-brands fa-cc-paypal"></i></h3>
                    <hr />
                    <div class="escondido">
                        <p>info paypal</p>
                    </div>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="FFMW7GR9QKKP4" />
                        <table>
                            <tr>
                                <td>
                                    <input type="hidden" name="on0" value="Cliente Standard" />
                                    Nuestros Planes
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="os0">
                                        <option value="Mensualidad">
                                            Premium $150,00 mes(es)
                                        </option>
                                        <option value="Premium">
                                            Standard $$80,00 USD - mes(es)
                                        </option>
                                        <option value="RecontraPremium">
                                            Cita por día $15,00 USD - mes(es)
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_subscribe_LG.gif" border="0" name="submit" title="PayPal es una forma segura y fácil de pagar en línea." alt="Suscribirse" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" onclick="selectPaymentMethod('Sinpe Móvil', this)">
                <div class="card-body">
                    <h3 class="card-title"> Sinpe Móvil <i class="fa-solid fa-money-bill-transfer"></i></h3>
                    <hr />
                    <div class="escondido">
                        <ul>
                            <li>Número telefónico: 8888-8888</li>
                            <li>Nombre: Mario Perez</li>
                        </ul>
                        <form>
                            <label for="myfile">Comprobante:</label>
                            <input type="file" id="myfile" name="myfile">
                        </form>
                        <br />
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <p id="selected-method" class="alert alert-info d-none"></p>
        </div>
    
    </div>
    <div class="mt-3">
        <p id="selected-method" class="alert alert-info d-none"></p>
    </div>
</main>
