@{
    Layout = "_LayoutOTP";
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/verificacion/verificarcuenta.js"></script>
}

<!-- Main Section -->
<div class="container OTP-Container">
    <div class="footer-otp">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Verificación de OTP</h2>
                    </div>
                    <div class="card-body">
                        <form id="otpForm">
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="email" name="email" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="otp" class="form-label">Código OTP</label>
                                <input type="number" class="form-control" id="otp" name="otp">
                            </div>
                            <button type="button" class="btn btn-primary" id="verificar">Verificar</button>
                            <button type="button" class="btn btn-primary" id="reenviar">Reenviar Codigo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
