@{
    Layout = "_LayoutvistaEntrenadorTest";
}
@section Scripts {
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

    <script src="~/js/Rutinas/Rutina.js"></script>
}
<main class="container my-5 pt-5">
   

    <section id="rutina-ejercicios" class="my-5">
        <div class="container">
            <h2 class="text-center">Rutina de Ejercicios</h2>
                <div id="myGrid" style="height: 430px; width: 1225px;" class="ag-theme-alpine justify-content-center"></div>
              <!----  <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editarCitaModal">Editar</button> -->
                <button type="button" class="btn btn-success btn-sm" id="Rutina" data-bs-toggle="modal" data-bs-target="#AgregarCitaModal">Agregar</button>
        </div>
    </section>
</main>

<!-- Modales -->
<!-- Modal para Editar Cita -->
<div class="modal fade" id="editarCitaModal" tabindex="-1" aria-labelledby="editarCitaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarCitaModalLabel">Editar Cita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario de edición de cita -->
                <form id="editarCitaForm">
                    <div class="mb-3">
                        <label for="editFecha" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="editFecha" name="editFecha" required>
                    </div>
                    <div class="mb-3">
                        <label for="editHora" class="form-label">Hora</label>
                        <input type="time" class="form-control" id="editHora" name="editHora" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCliente" class="form-label">Cliente</label>
                        <input type="text" class="form-control" id="editCliente" name="editCliente" required>
                    </div>
                    <div class="mb-3">
                        <label for="editServicio" class="form-label">Servicio</label>
                        <input type="text" class="form-control" id="editServicio" name="editServicio" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para Editar Cita -->
<div class="modal fade" id="AgregarCitaModal" tabindex="-1" aria-labelledby="AgregarCitaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AgregarCitaModalLabel">Agregar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario de edición de cita -->
                <form id="AgregarCitaForm">
                    <div class="mb-3">
                        <label for="AgregarNombre" class="form-label">Nombre del ejercicio</label>
                        <input type="text" class="form-control"  id="AgregarNombre" name="AgregarEjercicio" required>
                    </div>
                    <div class="mb-3">
                        <label for="AgregarTipoEjer" class="form-label">Tipo de ejercicio</label>
                        <input type="text" class="form-control" id="AgregarTipoEjer" name="AgregarEjercicio" required>
                    </div>
                    <div class="mb-3">
                        <label for="AgregarTipoEjer" class="form-label">Repeticiones</label>
                        <input type="number" class="form-control" id="AgregarReps" name="AgregarEjercicio" required>
                    </div>
                    <div class="mb-3">
                        <label for="AgregarTipoEjer" class="form-label">Series</label>
                        <input type="number" class="form-control" id="AgregarSeries" name="AgregarEjercicio" required>
                    </div>
                    <div>
                        <label for="idMaquina" class="container">Maquina:</label>
                        <select id="idMaquina" class="form-control">
                            <option value="" disabled selected>Seleccione la maquina</option>
                        </select>
                    </div>
                    <div>
                        <label for="idUsuario" class="container">Cliente:</label>
                        <select id="idusuario"    class="form-control">
                            <option id="ss" value="" disabled selected>Seleccione al cliente para la asignacion de la rutina</option>
                        </select>
                    </div>
                    <button type="button" id="Rutinas" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>


