@{
    Layout = "_LayoutRegistrar";
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="~/js/Rutinas/RutinaU.js"></script>
}

<!-- Main Content -->
<main class="container my-5 pt-5">
    <section id="rutina-ejercicios" class="my-5">
        <div class="container">
            <h2 class="text-center">Rutina de Ejercicios</h2>
            
                <div id="myGrid" style="height: 430px; width: 1225px;" class="ag-theme-alpine justify-content-center"></div>

  >
        </div>
    </section>
</main>