@{
    Layout = "_LayoutRecep2";
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/registro/registro.js"></script>
}
<main class="container my-5" style="padding:50px 20px;">
    <!-- New Section -->
    <div class="footer-recepcion-clases">
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <h4>Recepcionista 1</h4>
                    <ul class="nav nav-pills nav-stacked">
                    </ul><br>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="searchInput" placeholder="Buscar Cliente">
                        <button class="btn btn-primary" type="button" onclick="searchClient()">
                            Buscar
                        </button>
                    </div>
                    <!-- Contenedor para la información del cliente -->
                    <div id="clientInfo" class="mt-3"></div>
                    <button class="btn btn-success mt-3" onclick="updateCustomer()">Actualizar</button>
                    <a href="RegistroRecep.html" class="btn btn-success mt-3">Nuevo Cliente</a>

                </div>
            </div>
        </div>
        <!-- Tabla de Clases -->
        <div class="my-5">
            <h2 class="text-center">Próximas Clases</h2>
            <div class="table-responsive">
                <table class="table table-bordered" id="classTable">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Hora</th>
                            <th scope="col">Clase</th>
                            <th scope="col">Instructor</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Ejemplo de una fila -->
                        <tr>
                            <td>Hora de la Clase</td>
                            <td>Tipo de Clase</td>
                            <td>Instructor</td>
                            <td>
                                <!-- Botones de Editar y Eliminar -->
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editarClaseModal">Editar</button>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarClaseModal">Eliminar</button>
                            </td>
                        </tr>
                        <!-- Otras filas dinámicas se agregarían aquí -->
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClassModal">Agregar Clase</button>
        </div>

        <!-- Tabla de Citas para Medición -->
        <div class="my-5">
            <h2 class="text-center">Citas para Medición</h2>
            <div class="table-responsive">
                <table class="table table-bordered" id="measurementTable">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Nombre del Cliente</th>
                            <th scope="col">Hora de la Medición</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Ejemplo de una fila -->
                        <tr>
                            <td>Nombre del Cliente</td>
                            <td>Hora de la Medición</td>
                            <td>
                                <!-- Botones de Editar y Eliminar -->
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editarMedicionModal">Editar</button>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarMedicionModal">Eliminar</button>
                            </td>
                        </tr>
                        <!-- Otras filas dinámicas se agregarían aquí -->
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMeasurementModal">Agendar Medición</button>
        </div>
    </div>

    <!-- Modal para Agregar Clase -->
    <div class="modal fade" id="addClassModal" tabindex="-1" aria-labelledby="addClassModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClassModalLabel">Agregar Nueva Clase</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addClassForm">
                        <div class="mb-3">
                            <label for="hora" class="form-label">Hora</label>
                            <input type="text" class="form-control" id="hora" name="hora" required>
                        </div>
                        <div class="mb-3">
                            <label for="tipoClase" class="form-label">Tipo de Clase</label>
                            <input type="text" class="form-control" id="tipoClase" name="tipoClase" required>
                        </div>
                        <div class="mb-3">
                            <label for="instructor" class="form-label">Instructor</label>
                            <input type="text" class="form-control" id="instructor" name="instructor" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar Clase</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Clase -->
    <div class="modal fade" id="editarClaseModal" tabindex="-1" aria-labelledby="editarClaseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarClaseModalLabel">Editar Clase</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editarClaseForm">
                        <div class="mb-3">
                            <label for="editHora" class="form-label">Hora</label>
                            <input type="text" class="form-control" id="editHora" name="editHora" required>
                        </div>
                        <div class="mb-3">
                            <label for="editTipoClase" class="form-label">Tipo de Clase</label>
                            <input type="text" class="form-control" id="editTipoClase" name="editTipoClase" required>
                        </div>
                        <div class="mb-3">
                            <label for="editInstructor" class="form-label">Instructor</label>
                            <input type="text" class="form-control" id="editInstructor" name="editInstructor" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Confirmar Eliminar Clase -->
    <div class="modal fade" id="eliminarClaseModal" tabindex="-1" aria-labelledby="eliminarClaseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarClaseModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro que deseas eliminar esta clase?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Modal para Agendar Medición -->
    <div class="modal fade" id="addMeasurementModal" tabindex="-1" aria-labelledby="addMeasurementModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMeasurementModalLabel">Agendar Nueva Medición</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addMeasurementForm">
                        <div class="mb-3">
                            <label for="cliente" class="form-label">Nombre del Cliente</label>
                            <input type="text" class="form-control" id="cliente" name="cliente" required>
                        </div>
                        <div class="mb-3">
                            <label for="horaMedicion" class="form-label">Hora de la Medición</label>
                            <input type="time" class="form-control" id="horaMedicion" name="horaMedicion" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Agendar Medición</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Medición -->
    <div class="modal fade" id="editarMedicionModal" tabindex="-1" aria-labelledby="editarMedicionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarMedicionModalLabel">Editar Medición</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editarMedicionForm">
                        <div class="mb-3">
                            <label for="editCliente" class="form-label">Nombre del Cliente</label>
                            <input type="text" class="form-control" id="editCliente" name="editCliente" required>
                        </div>
                        <div class="mb-3">
                            <label for="editHoraMedicion" class="form-label">Hora de la Medición</label>
                            <input type="time" class="form-control" id="editHoraMedicion" name="editHoraMedicion" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Confirmar Eliminar Medición -->
    <div class="modal fade" id="eliminarMedicionModal" tabindex="-1" aria-labelledby="eliminarMedicionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarMedicionModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro que deseas eliminar esta cita de medición?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

</main>